<!DOCTYPE html>
<html>
<head lang="en">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/blogware.css" rel="stylesheet"/>
    <title>
        {% block title %}
        {{ config.SITENAME }}
        {% endblock title %}
    </title>
    <style>
        {% block style %}
        body {
            padding-top: 80px;
            padding-bottom: 15px;
        }
        {% endblock %}
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>

    {% block header %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ config.SITENAME }}</a>
            </div>
        </div>
    </div>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <div class="container">
        <br/>
        {% if current_user.is_authenticated %}
        <small>Logged in as {{ current_user.email }} - <a href="{{ url_for('logout') }}">logout</a></small><br/>
        {% else %}
        <small><a href="/login">Login</a></small><br/>
        {% endif %}
        {% block copyright %}
        <small>Copyright &copy; 2017 by the author.</small><br/>
        {% endblock %}
        <small>Powered by <a href="https://github.com/izrik/blogware">blogware</a>.</small><br/>
        <small>Revision: <code>{{ Options.get_revision() }}</code></small>
    </div>
    {% endblock %}

    {% block endbody %}
    {% endblock endbody %}
</body>
</html>
