<!DOCTYPE html>
<html>
<head lang="en">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/blogware.css" rel="stylesheet"/>
    <title>
        {% block title %}
        {{ config.SITENAME }}
        {% endblock title %}
    </title>
</head>
<body>
<div id="top-level">
    <div id="header">
        <h1><a href="/">{{ config.SITENAME }}</a></h1>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="footer">
        {% block footer %}
            {% if current_user.is_authenticated %}
            <small>Logged in as {{ current_user.email }} - <a href="{{ url_for('logout') }}">logout</a></small><br/>
            {% else %}
            <small><a href="/login">Login</a></small><br/>
            {% endif %}
            {% block copyright %}
            <small>Copyright &copy; 2017 by the author.</small><br/>
            {% endblock %}
            <small>Powered by <a href="https://github.com/izrik/blogware">blogware</a>.</small><br/>
            <small>Revision: <code>{{ Options.get_revision() }}</code></small>
        {% endblock %}
    </div>
</div>
</body>
</html>
