{% extends 'base.html' %}
{% block content %}

    <div class="login-logout">
    {% if current_user.is_authenticated %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
    </div>

    <div class="index-post-list">
    {% set index = seq().next %}
    {% set odd_even = cycle(['odd', 'even']).next %}
    {% for post in posts %}
        <div class="index-post index-post-id-{{post.id}} index-post-index-{{index()}} index-post-{{odd_even()}}">
            <p><a href="{{ url_for('get_post', post_id=post.id) }}">{{ post.title }}</a></p>
        </div>
    {% endfor %}
    </div>

    {% if current_user.is_authenticated %}
        <div class="create-new-post">
            <a href="/new">Create New</a>
        </div>
    {% endif %}

{% endblock %}
