{% extends 'base.html' %}
{% block content %}

    {% if current_user.is_authenticated %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}

    {% for post in posts %}
        <div>
            <p><a href="{{ url_for('get_post', post_id=post.id) }}">{{ post.title }}</a></p>
        </div>
    {% endfor %}


    {% if current_user.is_authenticated %}
        <div>
            <a href="/new">Create New</a>
        </div>
    {% endif %}

{% endblock %}
