{% extends 'base.html' %}
{% block title %}{{ super() }} - {{ post.title }} {% endblock %}
{% block content %}

<div>

    <div class="post-title">
        <h1>{{ post.title }}</h1>

        <p class="post-date">{{ post.date.strftime('%Y-%m-%d') }}</p>

        <div class="post-info clear-fix">
            <p>Posted
                <span class="by-author"> by
                    <span class="author vcard">izrik</span></span>
            </p>
        </div>
    </div>

    <div class="post-content clear-fix">

        <div class="post-entry">
            {{ post.content }}
        </div>
    </div>
</div>

{% if current_user.is_authenticated %}
    <div>
        <a href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a>
    </div>
{% endif %}

{% endblock %}
